** To - Do**
1. clean dataset
2. graph (create all graphs and then choose which one shows our data best/what we can explain)
3. paper

In [3]:
# Loading the data
import pandas as pd

news1=pd.read_csv('/GSS (1).csv')
print(news1)

       year   id_  news
0      1972     1     1
1      1972     2     1
2      1972     3     1
3      1972     4     3
4      1972     5     1
...     ...   ...   ...
72385  2022  3541     5
72386  2022  3542     5
72387  2022  3543     1
72388  2022  3544  -100
72389  2022  3545     3

[72390 rows x 3 columns]

PART 1: Cleaning the data
- each year has its own column
- dropping the NAs
- dropping the negative numbers
- counting the 1-5s for each year

In [4]:
# each year having its own column
import pandas as pd

col_reorder = news1.pivot(index='id_', columns='year', values='news').reset_index()
print(col_reorder)


# From the data we only have the years, the id, and the news (every day, a few times per week, once a week, less than once a week, and never)
# Tried to put the news countings for the years but some come up with the negative numbers which we will get rid off....

year   id_  1972   1973   1974  1975   1976  1977  1978   1980  1982  ...  \
0        1   1.0 -100.0 -100.0   1.0 -100.0   2.0   1.0 -100.0   2.0  ...
1        2   1.0 -100.0 -100.0   2.0 -100.0   4.0   1.0 -100.0   4.0  ...
2        3   1.0 -100.0 -100.0   3.0 -100.0   1.0   1.0 -100.0   1.0  ...
3        4   3.0 -100.0 -100.0   2.0 -100.0   1.0   1.0 -100.0   2.0  ...
4        5   1.0 -100.0 -100.0   2.0 -100.0   1.0   1.0 -100.0   2.0  ...
...    ...   ...    ...    ...   ...    ...   ...   ...    ...   ...  ...
4505  4506   NaN    NaN    NaN   NaN    NaN   NaN   NaN    NaN   NaN  ...
4506  4507   NaN    NaN    NaN   NaN    NaN   NaN   NaN    NaN   NaN  ...
4507  4508   NaN    NaN    NaN   NaN    NaN   NaN   NaN    NaN   NaN  ...
4508  4509   NaN    NaN    NaN   NaN    NaN   NaN   NaN    NaN   NaN  ...
4509  4510   NaN    NaN    NaN   NaN    NaN   NaN   NaN    NaN   NaN  ...

year   2004   2006   2008   2010   2012   2014   2016   2018   2021   2022
0    -100.0 -100.0    1.0    2.0    3.0 -100.0    5.0    4.0 -100.0 -100.0
1    -100.0    1.0    1.0    2.0 -100.0 -100.0    4.0 -100.0    1.0    1.0
2    -100.0    4.0    2.0    2.0 -100.0    2.0 -100.0    5.0 -100.0 -100.0
3       1.0    5.0 -100.0    3.0    2.0    1.0    5.0    1.0    5.0    5.0
4    -100.0    4.0    3.0 -100.0    2.0 -100.0 -100.0 -100.0    NaN -100.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
4505    NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4506    NaN    5.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4507    NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4508    NaN    5.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4509    NaN    2.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

[4510 rows x 35 columns]

In [5]:
# Seeing if there are any NAs
col_reorder.isna().any().any()
# Dropping the NAs
no_nas_news=col_reorder.dropna()

In [6]:
# checking  if the dropping of NAs worked:
no_nas_news.isna().any().any()

False

In [31]:
# Drop the negative values

year_col=[1972,1973,1974,1975,1976,1977,1978,1980,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1993,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2021,2022]


pos_value_news = no_nas_news[no_nas_news[year_col] > 0]
print(pos_value_news)

# made the negative numbers NAs - so i will drop the NAs

year  id_  1972  1973  1974  1975  1976  1977  1978  1980  1982  ...  2004  \
0     NaN   1.0   NaN   NaN   1.0   NaN   2.0   1.0   NaN   2.0  ...   NaN
1     NaN   1.0   NaN   NaN   2.0   NaN   4.0   1.0   NaN   4.0  ...   NaN
2     NaN   1.0   NaN   NaN   3.0   NaN   1.0   1.0   NaN   1.0  ...   NaN
3     NaN   3.0   NaN   NaN   2.0   NaN   1.0   1.0   NaN   2.0  ...   1.0
5     NaN   1.0   NaN   NaN   1.0   NaN   1.0   4.0   NaN   1.0  ...   1.0
...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
1367  NaN   2.0   NaN   NaN   2.0   NaN   3.0   1.0   NaN   2.0  ...   1.0
1368  NaN   1.0   NaN   NaN   3.0   NaN   5.0   1.0   NaN   1.0  ...   2.0
1369  NaN   1.0   NaN   NaN   1.0   NaN   3.0   1.0   NaN   2.0  ...   NaN
1370  NaN   1.0   NaN   NaN   1.0   NaN   1.0   1.0   NaN   2.0  ...   4.0
1371  NaN   2.0   NaN   NaN   5.0   NaN   1.0   4.0   NaN   5.0  ...   NaN

year  2006  2008  2010  2012  2014  2016  2018  2021  2022
0      NaN   1.0   2.0   3.0   NaN   5.0   4.0   NaN   NaN
1      1.0   1.0   2.0   NaN   NaN   4.0   NaN   1.0   1.0
2      4.0   2.0   2.0   NaN   2.0   NaN   5.0   NaN   NaN
3      5.0   NaN   3.0   2.0   1.0   5.0   1.0   5.0   5.0
5      2.0   1.0   5.0   1.0   1.0   5.0   1.0   1.0   NaN
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
1367   3.0   NaN   4.0   5.0   NaN   NaN   4.0   4.0   2.0
1368   NaN   3.0   2.0   NaN   NaN   1.0   5.0   NaN   2.0
1369   1.0   4.0   1.0   1.0   1.0   5.0   NaN   4.0   NaN
1370   4.0   4.0   5.0   5.0   2.0   2.0   3.0   5.0   5.0
1371   5.0   NaN   2.0   NaN   2.0   5.0   3.0   5.0   NaN

[1012 rows x 35 columns]

In [37]:
# Dropping the NAs that resulted from dropping the negative values

# Dropping the NAs
clean_news=pos_value_news.dropna()
# seeing if it worked
clean_news.isna().any().any()

False

**Saving 1-5 Counts Into Columns Option 1**

*Framework/Sample to Follow:*

In [ ]:
# Create a sample DataFrame (replace this with your actual DataFrame)
data = {
    'Column1': [1, 2, 1, 3, 4],
    'Column2': [5, 1, 2, 1, 1],
    'Column3': [1, 1, 1, 5, 1]
}
df = pd.DataFrame(data)

# Count the number of 1's in each column
count_ones_in_column1 = df['Column1'].eq(1).sum() #how many 1's in c1
count_two_c1 = df['Column1'].eq(2).sum() #how many 2's in c1
new = {
    'Column 1': [count_two_c1, count_ones_in_column1] #save the counts into c1 under a new dataframe
}
print(new)

Seeing the counts for 1-5s for all the columns; need to find a better way to present it.

In [ ]:
# Counting the 1-5 for the 1972 column
counts = no_nas_news[1972].value_counts() # counts the occurances from the 1972 column
for i in range(1, 6): # i has the numbers
    print("Count of " + str(i) + ": " + str(counts.get(i, 0)))
    # will have "count of" of i (1-5 numbers) then the : and then it will retrieve the number from the counts( first codeline)

Count of 1: 692
Count of 2: 151
Count of 3: 79
Count of 4: 43
Count of 5: 45

In [ ]:
df = pd.DataFrame({'Value': range(1, 11)})
df['Count'] = df['Value'].map(counts).fillna(0).astype(int)
print(df)

   Value  Count
0      1    692
1      2    151
2      3     79
3      4     43
4      5     45
5      6      0
6      7      0
7      8      0
8      9      0
9     10      0

In [ ]:
# Counting the 1-5s for the 1973 column
counts = no_nas_news[1973].value_counts()
for i in range(1,6):
  print("Count of " + str(i)+ ": " + str(counts.get(i,0)))

Count of 1: 0
Count of 2: 0
Count of 3: 0
Count of 4: 0
Count of 5: 0

In [ ]:
# Counting the 1-5s for the 1974 column
counts = no_nas_news[1974].value_counts()
for i in range(1,6):
  print("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 0
Count of 2: 0
Count of 3: 0
Count of 4: 0
Count of 5: 0

In [ ]:
# Counting the 1-5s for the 1975 column
counts = no_nas_news[1975].value_counts()
for i in range(1,6):
  print("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 662
Count of 2: 165
Count of 3: 90
Count of 4: 54
Count of 5: 40

In [ ]:
# Counting the 1-5s for the 1976 column
counts = no_nas_news[1976].value_counts()
for i in range(1,6):
  print("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 0
Count of 2: 0
Count of 3: 0
Count of 4: 0
Count of 5: 0

In [ ]:
# Counting the 1-5s for the 1977 column
counts = no_nas_news[1977].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 602
Count of 2: 178
Count of 3: 108
Count of 4: 70
Count of 5: 52

In [ ]:
# Counting the 1-5s for the 1978 column
counts = no_nas_news[1978].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 576
Count of 2: 200
Count of 3: 105
Count of 4: 73
Count of 5: 54

In [ ]:
# Counting the 1-5s for the 1980 column
counts = no_nas_news[1980].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 0
Count of 2: 0
Count of 3: 0
Count of 4: 0
Count of 5: 0

In [ ]:
# Counting the 1-5s for the 1982 column
counts = no_nas_news[1982].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 531
Count of 2: 224
Count of 3: 122
Count of 4: 72
Count of 5: 61

In [ ]:
# Counting the 1-5s for the 1983 column
counts = no_nas_news[1983].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 576
Count of 2: 201
Count of 3: 105
Count of 4: 77
Count of 5: 53

In [ ]:
# Counting the 1-5s for the 1984 column
counts = no_nas_news[1984].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 0
Count of 2: 0
Count of 3: 0
Count of 4: 0
Count of 5: 0

In [ ]:
# Counting the 1-5s for the 1985 column
counts = no_nas_news[1985].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 540
Count of 2: 209
Count of 3: 131
Count of 4: 78
Count of 5: 53

In [ ]:
# Counting the 1-5s for the 1986 column
counts = no_nas_news[1986].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 545
Count of 2: 204
Count of 3: 125
Count of 4: 74
Count of 5: 62

In [ ]:
# Counting the 1-5s for the 1987 column
counts = no_nas_news[1987].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 551
Count of 2: 217
Count of 3: 118
Count of 4: 75
Count of 5: 45

In [ ]:
# Counting  the 1-5s for the 1988 column
counts = no_nas_news[1988].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 343
Count of 2: 168
Count of 3: 80
Count of 4: 52
Count of 5: 33

In [ ]:
# Countingt the 1-5s for the 1989 column
counts = no_nas_news[1989].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 344
Count of 2: 155
Count of 3: 80
Count of 4: 48
Count of 5: 34

In [ ]:
# Counting the 1-5s for the 1990 column
counts = no_nas_news[1990].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 363
Count of 2: 153
Count of 3: 72
Count of 4: 60
Count of 5: 35

In [ ]:
# Counting the 1-5s for the 1991 column
counts = no_nas_news[1991].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 352
Count of 2: 142
Count of 3: 85
Count of 4: 56
Count of 5: 33

In [ ]:
# Counting the 1-5s fro the 1993 column
counts = no_nas_news[1993].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 311
Count of 2: 186
Count of 3: 80
Count of 4: 63
Count of 5: 42

In [ ]:
# Counting the 1-5s for the 1994 column
counts = no_nas_news[1994].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 350
Count of 2: 142
Count of 3: 78
Count of 4: 67
Count of 5: 21

In [ ]:
# Counting the 1-5s for  the 1996 column
counts = no_nas_news[1996].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 308
Count of 2: 147
Count of 3: 107
Count of 4: 73
Count of 5: 46

In [ ]:
# Counting the 1-5s for the 1998 column
counts = no_nas_news[1998].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 295
Count of 2: 154
Count of 3: 101
Count of 4: 69
Count of 5: 57

In [ ]:
# Counting the 1-5s for the 2000 column
counts = no_nas_news[2000].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 237
Count of 2: 163
Count of 3: 97
Count of 4: 111
Count of 5: 58

In [ ]:
# Counting the 1-5s for the 2002 column
counts = no_nas_news[2002].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 128
Count of 2: 88
Count of 3: 38
Count of 4: 47
Count of 5: 35

In [ ]:
# Counting the 1-5s for the 2004 column
counts = no_nas_news[2004].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 134
Count of 2: 76
Count of 3: 43
Count of 4: 43
Count of 5: 15

In [ ]:
# Counting the 1-5s for the 2006 column
counts = no_nas_news[2006].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 205
Count of 2: 148
Count of 3: 85
Count of 4: 100
Count of 5: 79

In [ ]:
# Counting the 1-5s for the 2008 column
counts = no_nas_news[2008].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 235
Count of 2: 130
Count of 3: 95
Count of 4: 103
Count of 5: 103

In [ ]:
# Counting the 1-5s for the 2010 column
counts = no_nas_news[2010].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 225
Count of 2: 133
Count of 3: 102
Count of 4: 99
Count of 5: 146

In [ ]:
# Counting the 1-5s for the 2012 column
counts = no_nas_news[2012].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 189
Count of 2: 117
Count of 3: 92
Count of 4: 103
Count of 5: 162

In [ ]:
# Counting the 1-5s for the 2014 column
counts = no_nas_news[2014].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 177
Count of 2: 98
Count of 3: 97
Count of 4: 87
Count of 5: 196

In [ ]:
# Counting the 1-5s for the 2016 column
counts = no_nas_news[2016].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 154
Count of 2: 88
Count of 3: 73
Count of 4: 86
Count of 5: 263

In [ ]:
# Counting the 1-5s for the 2018  column
counts = no_nas_news[2018].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 153
Count of 2: 79
Count of 3: 65
Count of 4: 89
Count of 5: 290

In [ ]:
# Counting the 1-5s for the 2021 column
counts = no_nas_news[2021].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 182
Count of 2: 88
Count of 3: 56
Count of 4: 112
Count of 5: 248

In [ ]:
# Counting the 1-5s for the 2022 column
counts = no_nas_news[2022].value_counts()
for i in range(1,6):
  print ("Count of " + str(i)+ ": " +str(counts.get(i,0)))

Count of 1: 118
Count of 2: 89
Count of 3: 58
Count of 4: 91
Count of 5: 305

Making all of the above into a dataframe:

In [38]:
import pandas as pd

# Example list of years;
years = [1972, 1973, 1974, 1975, 1976, 1977, 1978, 1980, 1982,1983, 1984,1985,1986, 1987, 1989,1990,1991,1993,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2021,2022]

all_counts = [] # stores the counts 1-5s for each year

for year in years: # loop that goes through each year from the list above
    counts = no_nas_news[year].value_counts() # value_counts() will count how many unique values are from the no_nas_news (so from all the years)
    year_counts = {"Year": year} # year_counts stores the counts for each year

    for i in range(1, 6): # have the numbers 1-5 stored in i
        year_counts[i] = counts.get(i, 0) # checks the counts to see if it will have a count, if not it gets a 0

    all_counts.append(year_counts) # collects the counts for all the years

# Convert the results to a DataFrame
news_df = pd.DataFrame(all_counts)

print(news_df)

    Year    1    2    3    4    5
0   1972  692  151   79   43   45
1   1973    0    0    0    0    0
2   1974    0    0    0    0    0
3   1975  662  165   90   54   40
4   1976    0    0    0    0    0
5   1977  602  178  108   70   52
6   1978  576  200  105   73   54
7   1980    0    0    0    0    0
8   1982  531  224  122   72   61
9   1983  576  201  105   77   53
10  1984    0    0    0    0    0
11  1985  540  209  131   78   53
12  1986  545  204  125   74   62
13  1987  551  217  118   75   45
14  1989  344  155   80   48   34
15  1990  363  153   72   60   35
16  1991  352  142   85   56   33
17  1993  311  186   80   63   42
18  1994  350  142   78   67   21
19  1996  308  147  107   73   46
20  1998  295  154  101   69   57
21  2000  237  163   97  111   58
22  2002  128   88   38   47   35
23  2004  134   76   43   43   15
24  2006  205  148   85  100   79
25  2008  235  130   95  103  103
26  2010  225  133  102   99  146
27  2012  189  117   92  103  162
28  2014  177   98   97   87  196
29  2016  154   88   73   86  263
30  2018  153   79   65   89  290
31  2021  182   88   56  112  248
32  2022  118   89   58   91  305

PART 2: Graphs
- Grouped kernel density plot
- line chart

In [ ]:
# Grouped kernel density plot

*What I Tried to Do*

In [ ]:
#This throws an error though
combine = pd.DataFrame(final_fixed)

#1972
#one_1972 = combine.values['news'].eq(1).sum()
one_1972 = (combine['1972'] == 1).sum()
two_1972 = combine['news'].eq(2).sum()
three_1972 = combine['news'].eq(3).sum()
four_1972 = combine['news'].eq(4).sum()
five_1972 = combine['news'].eq(5).sum()

# save into new dataframe
combine_final = {
    '1972': [one_1972, two_1972, three_1972, four_1972, five_1972]
}

print(combine_final)

NameError: ignored

**Saving 1-5 Counts Into Columns Option 2**

*Framework/Sample to Follow:*

In [ ]:
import pandas as pd

# Sample DataFrame (you should use your actual DataFrame)
data = {
    'id_': [1, 2, 3],
    1972: [1, 2, 1],
    1973: [3, 4, 2],
    # ... other years ...
}

df = pd.DataFrame(data)

# Specify the year you want to analyze
year_to_analyze = 1972

# Specify the values you want to count (e.g., 1 through 5)
values_to_count = [1, 2, 3, 4, 5]

# Count the occurrences of each value in the specified year and save as a dictionary
value_counts = {}
for value in values_to_count:
    count = (df[year_to_analyze] == value).sum()
    value_counts[value] = count

# Create a new DataFrame from the dictionary
count_df = pd.DataFrame({'1972': value_counts})

# Print the DataFrame
print(count_df)